* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 100px;
    margin: 0;
    background-color: #DF826C;
}

/* NAVBAR */
nav {
    position: relative;
    z-index: 1;
    margin: auto;
    width: 80%;
    height: 70px;
    background-color: #F8FFD2;
    opacity: 0.8;
    top: 20px;
    border-radius: 50px;
}

.nav-container {
    margin: 0 auto;
    height: 50px;
    width: 95%;
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
}

.nav-container > img {
    height: 40px;
}

.nav-elements {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 30px;
}


.button {
    width: 100px;
    height: 44px;
    border: 3px #8ADAB2 solid;
    border-radius: 20px;
    padding: 0 12px;
    background-color: transparent;
}

.button:hover {
    background-color: #8ADAB2;
}

/*  SEARCH BAR */
.search-bar {
    display: flex;
    width: 400px;
    height: 44px;
}

.search-control {
    all: unset;
    text-indent: 10px;
    width: 100%;
    border-radius: 20px 0 0 20px;
    border: 3px #8ADAB2 solid;
    border-right: 0;
    background-color: white;
    transition: none !important;
}

.search-bar > button {
    cursor: pointer;
    width: 44px;
    height: 44px;
    border: 3px #8ADAB2 solid;
    background-color: #fff;
    border-radius: 0 20px 20px 0;
}

.search-bar > button:hover {
    background-color: #8ADAB2;
}

.search-bar button span {
    font-size: 32px;
    line-height: normal;
}


/*  CARDS */
.cards-container {
    background-color: #DF826C;
}
.cards {
    padding-top: 40px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
    z-index: -1;
}

.flip-card {
    justify-self: center;
    background-color: transparent;
    width: 400px;
    height: 250px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card-front > img {
    width: 400px;
    height: 250px;
    border-radius: 50px;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 50px;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: #D0F288;
    color: #000000;
    transform: rotateY(180deg);
}

.flip-card-back > h1 {
    line-height: 250px;
}

h1, p {
    text-align: center;
    font-weight: bold;
}


/* CARD */
.card-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.product {
    margin: 5px;
    width: 350px;
    min-height: 350px;
    justify-self: center;
    text-align: center;
    display: grid;
    grid-template-columns: 250px 100px;
}

.card-image {
    width: 100%;
    height: 200px;
    border-radius: 38px 38px 0 0;
}

.inner-card {
    width: 250px;
    background-color: #DF826C;
    border-radius: 40px;
}

.card-button {
    align-self: flex-end;
    margin-bottom: 25px;
    opacity: 0;
    transition: 0.4s;
}

.product:hover .card-button {
    opacity: 1;
    align-self: flex-end;
    margin-bottom: 25px;
}

.button-card {
    width: 100px;
    margin-bottom: 5px;
    height: 54px;
    padding: 0 12px;
}

.button-1{
    border: 3px #8ADAB2 solid;
    border-radius: 0px 20px 20px 0px;
    background-color: #8ADAB2;
}

/* .button-2{
    border: 3px #D0F288 solid;
    border-radius: 0px 20px 20px 0px;
    background-color: #D0F288;
} */

#btn-load-more {
    margin: 10px 43%;
}


/* ABOUT COMPANY */
.about-company {
    height: 700px;
    background-color: white;
    display: grid;
    grid-template-columns: 450px 1fr;
}

.company-one {
    background-color: aqua;
}


.company-two > ul {
    /* position: absolute; */
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    background: #ccc;
    margin: 0;
    padding: 0;
}

.company-two > ul  li {
    list-style: none;
    position: relative;
    width: 25%;
    height: 100%;
    border-right: 1px solid #000;
    float: left;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: center;
    overflow: hidden;
}

.company-two > ul  li:nth-child(1) {
    background: url(../images/manufacture1.jpg);
    background-size: cover;
    background-position: left;
}
.company-two > ul  li:nth-child(2) {
    background: url(../images/manufacture2.jpg);
    background-size: cover;
    background-position: left;
}
.company-two > ul  li:nth-child(3) {
    background: url(../images/manufacture3.webp);
    background-size: cover;
    background-position: left;
}
.company-two > ul  li:nth-child(4) {
    background: url(../images/manufacture4.jpg);
    background-size: cover;
    background-position: left;
}

.company-two > ul:hover li {
    width: 10%;
}
.company-two > ul li:hover {
    width: 70%;
}

.company-two > ul li .content {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.8);
    box-sizing: border-box;
    color: #fff;
    opacity: 0;
}

.company-two > ul li:hover .content {
    bottom: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    opacity: 1;
}